:root {
  // Colors Palettes
  --app-neutral-900: #222222;
  --app-neutral-800: #343a40;
  --app-neutral-700: #495057;
  --app-neutral-600: #636970;
  --app-neutral-500: #adb5bd;
  --app-neutral-400: #ced4da;
  --app-neutral-300: #dce4ed;
  --app-neutral-200: #f3f5f8;
  --app-neutral-100: #f3f5f8;
  --app-neutral-000: #ffffff;

  // For ur example, we need only 2 or 3 colors, normally, we got a palette
  --app-red-900: #c63817;
  --app-red-600: #fd755f;
  --app-red-500: #ff9980;
  --app-red-100: #ffece6;

  --app-blue-600: #11abec;
  --app-blue-500: #6cc8f0;
  --app-blue-100: #f1f7fc;

  --app-yellow-800: #eaa31a;
  --app-yellow-600: #FAA11C;
  --app-yellow-100: #fff5bf;

  --app-pink-600: #11abec;
  --app-pink-500: #6cc8f0;
  --app-pink-100: #f1f7fc;

  --app-purple-600: #11abec;
  --app-purple-500: #6cc8f0;
  --app-purple-100: #f1f7fc;

  --app-error: var(--app-red-900);
  --app-success: var(--app-green-900);
  --app-warning: var(--app-yellow-800);
  --app-background: var(--app-neutral-200);
  --app-border-color: var(--app-neutral-300);
  // Spacing
  --spacing-00: 0rem; // 0px
  --spacing-01: 0.13rem; // 2px
  --spacing-02: 0.25rem; // 4px
  --spacing-03: 0.5rem; // 8px
  --spacing-04: 0.75rem; // 12px
  --spacing-05: 1rem; // 16px
  --spacing-06: 1.5rem; // 24px
  --spacing-07: 2rem; // 32px
  --spacing-08: 2.5rem; // 40px
  --spacing-09: 3rem; // 48px
  --spacing-10: 3.5rem; // 56px
  --spacing-11: 4rem; // 64px
  --spacing-12: 4.5rem; // 72px
  --spacing-13: 5rem; // 80px
}
