:host {
  display: contents;
}

.category-item {
  border: 1px solid var(--app-border-color);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-03);
  padding: var(--spacing-05);
  margin-bottom: -1px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  &:hover {
    z-index: 2;
    background-color: var(--app-neutral-100);
  }

  &.selected {
    box-sizing: border-box;
    background-color: var(--app-blue-100);
    z-index: 3;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      outline: 1px solid var(--app-blue-600);
      border-radius: inherit;
      box-sizing: border-box;
    }
  }
}

.content {
  h6 {
    font-family: 'Eina03-SemiBold';
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 0;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    color: var(--app-neutral-600);
    font-weight: 400;
    font-size: 14px;
    margin: var(--spacing-02) 0 0 0;
  }
}
