<div class="container">
  <div class="card">
    <form class="card-header" [formGroup]="filterForm">
      <!-- Input and select are fast made, but a component with control value accessor would be better -->
      <div class="search-container">
        <input type="text" placeholder="Rechercher une catégorie" formControlName="search" />
      </div>
      <select formControlName="group">
        <option value="all">Toutes les catégories</option>
        @for (option of categoryOptions(); track option.value) {
          <option value="{{ option.value }}">{{ option.label }}</option>
        }
      </select>
    </form>
    <router-outlet />
  </div>
</div>
