.category-alphabetical {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 0;

  app-category-item {
    &::ng-deep:nth-child(odd) {
      border-left: none;
    }

    &::ng-deep:nth-child(even) {
      border-right: none;
      border-left: none;
    }

    &::ng-deep:nth-child(n + 3) {
      border-top: none;
    }
  }
}
